<template>
  <div class="tx-card">
    <div class="tx-card-header">
      <input
        :class="editable ? 'tx-word editable' : 'tx-word'"
        v-model="word.word"
        type="text"
        :disabled="editable ? false : true"
      />
      <button
        type="button"
        class="edit-word pure-button button-small"
        @click="edit"
      >
        <i :class="editable ? 'fa fa-floppy-o' : 'fa fa-pencil'"></i>
      </button>
    </div>
    <form class="pure-form tx-card-content">
      <button
        type="button"
        class="delete-word pure-button button-small"
        @click="$emit('delete-word')"
        :disabled="!editable"
      >
        <i class="fa fa-trash"></i>
      </button>
      <select class="tx-lang" v-model="word.lang" :disabled="!editable">
        <option value=""></option>
      </select>
      ( {{ word.taxonDb }} )
    </form>
  </div>
</template>
<script>
export default {
  name: "TxCard",
  data() {
    return {
      editable: false
    };
  },
  props: { word: Object, status: String },
  methods: {
    edit() {
      if (this.editable) {
        this.$emit("save-word");
      }
      this.editable = !this.editable;
    }
  }
};
</script>
