<template>
  <draggable
    v-bind="dragOptions"
    tag="div"
    class="item-container"
    :list="list"
    :value="value"
    :sort="true"
    @input="emitter"
  >
    <div class="item-group" v-for="taxon in realValue" :key="taxon.taxonId">
      <v-card class="item" outlined>
        <v-card-title>
          {{ taxon.accepted_name() }} ({{ taxon.ord }})
        </v-card-title>
        <TxCard class="item-sub" :list="taxon.elements"> </TxCard>
      </v-card>
    </div>
  </draggable>
</template>
<script>
import draggable from "vuedraggable";
export default {
  name: "TxCard",
  components: { draggable },
  methods: {
    emitter(value) {
      console.log(value);
      this.$emit("input", value);
    }
  },
  computed: {
    dragOptions() {
      return {
        animation: 0,
        group: "description",
        disabled: false,
        ghostClass: "ghost"
      };
    },
    // this.value when input = v-model
    // this.list  when input != v-model
    realValue() {
      return this.value ? this.value : this.list;
    }
  },
  props: {
    value: {
      required: false,
      type: Array,
      default: null
    },
    list: {
      required: false,
      type: Array,
      default: null
    }
  }
};
</script>
<style scoped>
.item-sub {
  margin: 0 0 0 1rem;
}
</style>
