<template>
  <v-container>
    <v-row class="text-center">
      <v-col v-if="elements" cols="12">
        <TxCard :list="elements"> </TxCard>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// import { mapGetters } from "vuex";
import TxCard from "./Linnaeus/TxCard";

export default {
  name: "Linnaeus",
  components: { TxCard },
  computed: {
    elements: {
      get() {
        return this.$store.getters["linnaeus/allTaxons"];
      },
      set(value) {
        return this.$store.dispatch("linnaeus/updateTaxons", value);
      }
    }
  }
};
</script>
