<template>
  <v-app>
    <Nav> </Nav>
    <div class="mt-16">
      <router-view></router-view>
    </div>
  </v-app>
</template>

<script>
import Nav from "./components/Nav";
export default {
  name: "App",
  components: { Nav },
  data: () => ({})
};
</script>
